ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

li button {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}

a:hover {
    background-color: #111;
}

.btnclose {
    float: right;
}

.popup-form {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form_container {
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}